<div id="project_banner_area" class="banner_area">
  <div class="banner banner_<%= banner.style %>" id="banner_content">
    <% if banner.role.present? %>
      <span class="banner-role-label <%= banner_role_color_class(banner.role) %>">
        <%= banner.role.name %>
      </span>
    <% end %>

    <%= textilizable banner.banner_description %>
  </div>

<%
if authorize_for(:banner, :edit)
%>
  <div class="banner_edit">
<%= link_to(
      (banner_action_icon_edit + l(:button_edit)).html_safe,
      { controller: 'banner', action: 'show', project_id: @project, role_id: banner.role_id },
      class: 'icon banner-icon-edit banner-icon-edit-link',
      title: l(:button_edit)
    ) %>
<!--//
<a class="icon banner-icon-off"
   href="#"
   onclick="if (confirm('<%= l(:text_are_you_sure) %> ')) {
   $.ajax({
          url: '<%= url_for(controller: :banner, action: 'project_banner_off', project_id: @project, role_id: banner.role_id) %>',
          type: 'get',
          success: function(data){
            $('#project_banner_area').remove(); return false;
          }
        });
   }"
   title="<%= l(:banner_off) %>"><%= l(:button_off) %></a>
//--->
  </div>
<% end %>

</div>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    let content = document.getElementById('content');
    content.insertBefore(
      document.getElementById('project_banner_area'),
      content.firstChild
    );
  });
</script>
